{% extends "insanity/base.html" %}

{% block title %}
Insanity QA system (latest {{nbruns}} runs)
{% endblock %}

{% block content %}

    {% if latest_runs %}
    <table>
      <tr>
	<th class="side"></th>
        <th>Time</th>
	<th>Test(s)</th>
	<th colspan="4">Views</th>
      </tr>
      {% for run in latest_runs %}
      <tr>
	<th class="side">TestRun #{{ run.id }}</th>
        <td>{{ run.starttime|date:"Y-m-d H:i:s" }}</td>
	<td class="numeric">{{ run.nbtests }}</td>
	<td><a href="{{run.get_matrix_view_url}}?showscenario=0">Tests only</a></td>
	<td><a href="{{run.get_matrix_view_url}}?onlyfailed=1&showscenario=0">Failed Tests</a></td>
	<td><a href="{{run.get_matrix_view_url}}">Tests+Scenarios</a></td>
	<td><a href="{{run.get_matrix_view_url}}?onlyfailed=1">Failed Tests+Scenarios</a></td>
	<td><a href="{{run.get_matrix_view_url}}?crashonly=1">Crashed Tests</a></td>
	<td><a href="{{run.get_matrix_view_url}}?timedoutonly=1">Timed-out Tests</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No Test Runs are currently available.</p>
    {% endif %}

{% endblock %}
