<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="stylesheet" href="/site_media/style.css" rel="stylesheet" />
    <title>Matrix View of Testrun #{{testrun.id}}</title>
  </head>

  <body>
    <!-- We're supposing we only have one test type and we ignore scenarios -->
    <table width="98%">
      <tr>
	<th class="side">Test type</th>
	<th>Results for Testrun #{{testrun.id}}</th>
      </tr>
      {% for sortedtest in sortedtests %}
      <tr>
	<th class="side">{{ sortedtest.type.type }} </th>
	<td>
	  <table>
	    <tr>
	      <th>ID</th>
	      {% for arg in sortedtest.type.arguments.all %}
	      <th>{{ arg.name }}</th>
	      {% endfor %}
	      <th>Result</th>
	      {% for item in sortedtest.type.fullchecklist %}
	      <th><span title="{{item.name}}">{{item.shortname|safe}}</span></th>
	      {% endfor %}
	      <th>Errors seen</th>
	    </tr>
	    
	    {% for test in sortedtest.tests %}
	    {% if not onlyfailed or not test.is_success %}
	    <tr class="{% cycle row1,row2 %}">
	      <td><a href={{test.get_absolute_url}}>{{test.id}}</a></td>
	      {% for arg in test.fullarguments %}
	      {% if arg.default %}
	      <td class="arg-default">{{ arg.value }}</td>
	      {% else %}
	      <td>{{ arg.value.value }}</td>
	      {% endif %}
	      {% endfor %}
	      <td class="{% if test.is_success %}result-OK{% else %}result-FAIL{% endif %}">{{test.resultpercentage}}%</td>
	      {% for item in test.results %}
	      {% if item.skipped %}
	      <td class="result-skipped">
		<span title="{{item.type.name}} : skipped/unavailable">?</span>
	      </td>
	      {% else %}
	      <td class="{%if item.value.value %}result-OK{% else %}result-FAIL{% endif %}">
		<span title="{{item.type.name}} : {%if item.value.value %}OK{% else %}failed{% endif %}">{{ item.value.value }}</span>
	      </td>
	      {% endif %}
	      {% endfor %}
	      {% if test.test_error %}
	      <td> {{test.test_error}} </td>
	      {% endif %}
	    </tr>
	    {% endif %}
	    {% endfor %}
	    
	  </table>
	</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
