{% extends "insanity/base.html" %}
{% load insanity_extra %}

{% block title %}
Matrix View of Testrun #{{testrun.id}}
{% endblock %}

{% block content %}

    <!-- We're supposing we only have one test type and we ignore scenarios -->
    <table width="98%">
      <tr>
	<th class="side">Test type</th>
	<th>Results for Testrun #{{testrun.id}}</th>
      </tr>
      {% for sortedtest in sortedtests %}
      <tr>
	<th class="side">{{ sortedtest.type.type }}</th>
	<td>
	  <table>
	    <tr>
	      <th>ID</th>
	      {% for arg in sortedtest.type.arguments.all %}
	        <th>{% split_dash_lines arg.name %}</th>
	      {% endfor %}
	      <th>Result</th>
	      {% for item in sortedtest.fullchecklist %}
	        <th><span title="{{item.name}}">{% verticalize item.name %}</span></th>
	      {% endfor %}
	      <th>Errors seen</th>
	    </tr>
	    
	    {% for test in sortedtest.tests %}
	      {% matrix_checklist_row test sortedtest.fullchecklist sortedtest.fullarguments checks args extras %}
	    {% endfor %}
	
	  </table>
	</td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}
