<style type="text/css">
<!--
    /* The rest are ordinary style properties */
    table {
        border-collapse: collapse;
    }
    thead td, thead th {
        font-size: 90%%;
        line-height: 1.15em;
    }
    td {
        border: 1px solid black;
    }
    td.first-in-round {
        border-left: 2px solid black;
    }
    td.last-in-round {
        border-right: 2px solid black;
    }
    td.result-ERROR {
         background: #FF0000;
    }
    td.result-FAIL {
         background: #FF0000;
    }
    td.result-skipped {
         background: #FFF650;
    }
    td.result-excluded * {
         color: #00FF00;
    }
    td.result-excluded {
         background: #00FF00;
    }
    td.result-OK {
         background: #00FF00;
    }
    table a {
         color: black;
         text-decoration: none;
    }
    table.summary, table.summary td {
         border: none;
    }
    table.summary td {
         padding: 0ex 1ex;
    } 
-->
</STYLE>

<!-- We're supposing we only have one test type and we ignore scenarios -->
{% for sortedtest in sortedtests %}
<table>
  <tr><th>{{ sortedtest.type.type }} </th></tr>
  <tr>
<table>
  <tr>
    <th>ID</th>
    {% for arg in sortedtest.type.arguments.all %}
    <th>{{ arg.name }}</th>
    {% endfor %}
    <th>Result</th>
    {% for item in sortedtest.type.fullchecklist %}
    <th> {{item.name}} </th>
    {% endfor %}
  </tr>
  
  {% for test in sortedtest.tests %}
  {% if not onlyfailed or not test.is_success %}
  <tr>
    <td>{{test.id}}</td>
    {% for arg in test.arguments.all %}
    <td>{{ arg.value }}</td>
    {% endfor %}
    <td class="{% if test.is_success %}result-OK{% else %}result-FAIL{% endif %}">{{test.resultpercentage}}%</td>
    {% for item in test.results %}
    <td class="{% if item.value and item.value.value %}result-OK{% else %}{%if not item.value.value %}result-FAIL{% else %}result-skipped{% endif %}{% endif %}">
      <span title="{{item.name}}">{{ item.value.value }}</span>
    </td>
    {% endfor %}
  </tr>
  {% endif %}
  {% endfor %}

</table>
</tr>
{% endfor %}
