<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="stylesheet" href="/site_media/style.css" rel="stylesheet" />
    <title>Test #{{test.id}}</title>
  </head>

  <body>
    {% load insanity_extra %}
    <table>
      <tr>
	<th></th>
	<th>Test #{{ test.id }}</th>
      </tr>

      <tr>
	<th class="side">TestRun</th>
	<td><a href={{test.testrunid.get_absolute_url}}>{{test.testrunid}}</a></td>
      </tr>

      <tr>
	<th class="side">test type</th>
	<td>{{test.type.type}}</td>
      </tr>

      <tr>
	<th class="side">Success rate</th>
	<td>{{test.resultpercentage|floatformat:1}}%</td>
      </tr>

      {% if test.is_scenario %}
      {% if test.subtest.count %}
      <tr>
	<th class="side">Subtests</th>
	<td>
	  {% for subtest in test.subtest.all %}
	  Test <a href={{subtest.testid.get_absolute_url}}>#{{ subtest.testid.id }}</a> Success:{{subtest.testid.resultpercentage|floatformat:1}}%<br/>
	  {% endfor %}
	</td>
      </tr>
      {% endif %}
      {% endif %}
      
      {% if test.is_subtest %}
      <tr>
	<th class="side">Container</th>
	<td>Scenario #<a href={{test.parent.scenarioid.get_absolute_url}}>{{ test.parent.scenarioid.id }}</a></td>
      </tr>
      {% endif %}

      {% if test.arguments.count %}
      <tr>
	<th class="side">Arguments</th>
	<td>
	  {% test_args_dict test %}
	</td>
      </tr>
      {% endif %}

      {% if test.checklist.count %}
      <tr>
	<th class="side">CheckList</th>
	<td>
	  {% test_checklist_dict test %}
	</td>
      </tr>
      {% endif %}

      {% if test.outputfiles.count %}
      <tr>
	<th class="side">OutputFiles</th>
	<td>
	  <ul>
	    {% for outf in test.outputfiles.all %}
	    <li>{{outf.name.name}} : {{outf.value}}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      {% endif %}

      {% if test.extrainfo.count %}
      <tr>
	<th class="side">ExtraInfo</th>
	<td>
	  {% test_extrainfo_dict test %}
	</td>
      </tr>
      {% endif %}

      {% if test.monitor_set.count %}
      <tr>
	<th class="side">Monitors</th>
	<td>
	  <table class="inside">
	    <tr>
	      <th>ID</th>
	      <th>Type</th>
	      <th>Output files</th>
	    </tr>
	    {% for mon in test.monitor_set.all %}
	    <tr class="{% cycle row1,row2 %}">
	      <td>{{ mon.id }}</td>
	      <td>{{ mon.type.type }}</td>
	      {% if mon.outputfiles.count %}
	      <td>
		{% for outf in mon.outputfiles.all %}
		<a href="{{ outf.value|safe }}">{{ outf.basename }}</a><br/>
		{% endfor %}
	      </td>
	      {% endif %}
	    </tr>
	    {% endfor %}
	  </table>	  
	</td>
      </tr>
      {% endif %}
      
    </table>
  </body>
</html>
