[Desktop Entry]
Name=Insanity testing system
Comment=Run automated tests
StartupNotify=true
Exec=insanity-gtk
## Icon=
Type=Application
Categories=GTK;Development
